*

*::before

*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family:'Chakra Petch', sans-serif;
}
.hide {
    display: none
}
.center {
    margin: auto;
    width: 50%;
}
.center-component {
    margin: auto;
    display: 'flex';
    align-items: 'center';
    justify-content: 'center'
}
/* nav bar */
.nav {
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2rem;
    padding: 0 1rem;
    font-family: 'Rubik 80s Fade', cursive;
}

.nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
    font-family:'Chakra Petch', sans-serif;
}

.nav a {
    color: inherit;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    padding: .25rem;
}

.title {
    font-size: 2rem;
    -webkit-text-stroke: -1px -1px 0 aliceblue, 1px -1px 0 aliceblue, -1px 1px 0 aliceblue, 1px 1px 0 aliceblue,
}

.nav li:hover {
    background-color: aliceblue;
    color: #8d918d;
}
.nav li.active {
    background-color: aliceblue;
    color: #8d918d;
}
/*Portfolio-Main*/
.main-body {
    background-color: #8d918d;
    height: 100vh;
}

/*About Me */
.container {
    margin-top: 15px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.itMe {
    height: auto;
    width: 250px;
    border-radius: 5px;
    border-color: black;
    border: 8px;
    border-style: solid;
}

.meWords {
    border-radius: 5px;
    border-color: black;
    border-style: groove;
    background-color: lightgray;
}
.whoAndWhat {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 400px;
    margin-top:10px;
    margin-left: 15px;
    width: 75%;
    padding: 5px;
    border: 3px;
}
/* Contact Me */
.emailForm {
    flex-direction: column;
}
/* Card */
.card__container {
    display: flex;
    flex-direction: row;
}
.card {
    width: 32vh;
    height: 32vh;
    margin: 2rem;
    max-width: 300px;
    max-block-size: 300px;
}
button {
    position: absolute;
    bottom: 2px;
    width: 100%;
}
/* Footer */
.foot {
    justify-content: space-between;
    gap: 2rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 8vh;
    padding-bottom: 10px;
 }
 .foot section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

 }
 .foot ul {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
 }
 .foot p {
    margin-left: 1rem;
    margin-right: 1rem;
 }
 .foot ul li {
    margin-left: 1rem;
    margin-right: 1rem;
    list-style: none;
}
.foot ul li a {
    color: aliceblue;
    text-decoration: none;
    font-size: 2rem;
}